body{
    display:grid;
    grid-template-rows: 1fr;
    height: 100vh;
    margin: 0;
    align-items: center;
    background-color: #060606;
}
#section_in{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 540px;
    margin:0 auto;
    padding: 20px;
    text-align: center;
}
#title_in{
    color: aliceblue;
}